<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
  <nav class="header">
    <ul>
      <li>Logo</li>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Projects</a></li>
      <li><a href="#">Contact</a></li>
      <li class="login"><a href="#">Login</a></li>
    </ul>
  </nav>
  <div class="row">
    <div class="col-l-2 left">
      <ul>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul>
    </div>
    <div class="col-l-8 center">
      <div class="content-first">
        <h2><b>Welcome</b></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="h_line"></div>
      <div class="content-second">
        <h3><b>Test</b></h3>
        <p>Lorem ipsum...</p>
      </div>
    </div>
    <div class="col-l-2 right">
      <ul>
        <li>ADS</li>
        <li>ADS</li>
        <li>ADS</li>
      </ul>
    </div>
  </div>
  <div class="footer">
    <h5 style="color: #cccccc">Footer Text</h5>
  </div>
</div>
</body>
</html>